{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": ["next", "giantnodes"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "@typescript-eslint/consistent-type-imports": "error",
    "@typescript-eslint/no-unused-vars": ["error", { "varsIgnorePattern": "[A-Z]+(?:_[A-Z]+)*" }]
  }
}
